p {
	font-family: Roboto;
	font-size: 15;
	color: #2f2f25;
	font-weight: bold;
	text-align: center;
}

left_p {
	text-align: left;
}

light_p {
	color: #ffffff;
}

small_p {
	font-size: 13;
}

lightSmall_small {
	color: #ffffff;
}

condensed_p {
	font-family: RobotoCondensed;
}

big_condensed_p {
	font-size: 26;
}
