p {
	font-family: Tahoma;
	font-size: 17;
	color: #c7c7c5;
}

.separator {
	leading: -12;
}

.customli {
	color: #57574f;
	margin-left: 22;
}

.customlirightmargin {
	color: #57574f;
	margin-left: 22;
	margin-right: 104;
}

.value {
	font-family: Tahoma;
	font-size: 17;
	color: #ffffff;
}

.subtitle {
	font-family: Tahoma;
	font-size: 18;
	color: #dfdfdf;
	margin-left: 16;
}

.subtitlenomargin {
	font-family: Roboto;
	font-size: 18;
	color: #dfdfdf;
}

.bonus {
	font-family: Tahoma;
	font-size: 17;
	color: #52AE3F;
}

.bonusvalue {
	font-family: Tahoma;
	font-size: 17;
	font-weight: bold;
	color: #52AE3F;
}

.malus {
	font-family: Tahoma;
	font-size: 17;
	color: #CB685E;
}

.malusvalue {
	font-family: Tahoma;
	font-size: 17;
	font-weight: bold;
	color: #CB685E;
}

.neutral {
	font-family: Roboto;
	font-size: 17;
	color: #969695;
}

.neutralvalue {
	font-family: Roboto;
	font-size: 17;
	color: #969695;
}

.overFm {
	font-family: Roboto;
	font-size: 18;
	font-weight: bold;
	color: #5dcf45;
}

.overFmvalue {
	font-family: Roboto;
	font-size: 18;
	font-weight: bold;
	color: #5dcf45;
}

.subeffectleftcolumn {
	margin-left: 32;
	leading: -15;
}

.subeffectrightcolumn {
	margin-left: 228;
}

.exotic {
	font-family: Tahoma;
	font-size: 17;
	color: #658FC4;
}

.exoticvalue {
	font-family: Tahoma;
	font-size: 17;
	font-weight: bold;
	color: #658FC4;
}

.theoretical {
	font-family: Tahoma;
	font-size: 17;
	color: #969695 ;
}

.requirement {
	font-family: Tahoma;
	font-size: 17;
	color: #d9ad67;
}

.special {
	font-family: Tahoma;
	font-size: 17;
	color: #deb169;
}

.set {
	font-family: Tahoma;
	font-size: 17;
	color: #ebc304;
}

.importantNotice {
	font-family: Roboto;
	font-size: 17;
	color: #ebc304;
	margin-left: 32;
}

.description {
	font-family: Tahoma;
	font-size: 17;
	color: #E6893D;
}

.quote {
	font-family: Tahoma;
	font-size: 17;
	font-style: italic;
	color: #9D9D9C;
}

.headerp {
	font-family: Tahoma;
	font-size: 17;
	color: #c7c7c5;
	margin-right: 126;
}

.headermalus {
	font-family: Tahoma;
	font-size: 17;
	color: #d0483a;
	margin-left: 48;
}

.headertitle {
	font-family: Tahoma;
	font-size: 18;
	color: #dfdfdf;
	margin-right: 126;
}

.footer {
	font-family: Tahoma;
	font-size: 17;
	font-style: italic;
	color: #6d6d6d;
	text-align: center;
}

.footerleft {
	font-family: Tahoma;
	font-size: 15;
	font-style: italic;
	color: #6d6d6d;
	text-align: left;
	leading: -22;
}

.footerright {
	font-family: Tahoma;
	font-size: 15;
	font-style: italic;
	color: #6d6d6d;
	text-align: right;
}

spellZone {
	font-family: Tahoma;
	font-size: 17;
	color: #c7c7c5;
	margin-left: 32;
}

.contentmargin {
	margin-right: 126;
}


.probaright {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
}

.common {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
	color: #848480;
}

.uncommon {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
	color: #6db213;
}

.rare {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
	color: #1B96FF;
}

.epic {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
	color: #9400d3;
}

.legendary {
	font-family: Roboto;
	font-size: 17;
	text-align: right;
	leading: -19;
	color: #ffb400;
}

.descriptionproba {
	font-family: Roboto;
	font-size: 17;
	color: #E6893D;
	margin-left: 22;
	margin-right: 75;
	text-align: left;
}