p {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: justify;
  font-weight: normal;
}
left {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: normal;
  text-align: left;
}
right {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: normal;
  text-align: right;
}

rightpadding {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: normal;
  text-align: right;
  padding-right: 5px;
}

center {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: normal;
  text-align: center;
}

bold {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: justify;
  font-weight: bold;
}

italic {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: justify;
  font-style: italic;
}

boldleft {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: bold;
  text-align: left;
}
boldright {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: bold;
  text-align: right;
}
boldcenter {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: bold;
  text-align: center;
}

disabled {
  font-family: Roboto;
  font-size: 14px;
  color: #848480;
  text-align: justify;
  font-weight: normal;
}
disabledcenter {
  font-family: Roboto;
  font-size: 14px;
  color: #848480;
  text-align: center;
  font-weight: normal;
}
disabledright {
  font-family: Roboto;
  font-size: 14px;
  color: #848480;
  text-align: right;
  font-weight: normal;
}
bolddisabled {
  font-family: Roboto;
  font-size: 14px;
  color: #848480;
  text-align: justify;
  font-weight: bold;
}

medium {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: justify;
}
mediumleft {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: left;
}
mediumright {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: right;
}
mediumcenter {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: center;
}

mediumcenterbold {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: center;
  font-weight: bold;
}

mediumleftbold {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: left;
  font-weight: bold;
}

mediumrightbold {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  text-align: right;
  font-weight: bold;
}

condensedboldleft {
  font-family: RobotoCondensed;
  font-size: 14px;
  color: #c7c7c5;
  font-weight: bold;
  text-align: left;
}

condensedboldcenter {
  font-family: RobotoCondensed;
  font-size: 14px;
  color: #c7c7c5;
  font-weight: bold;
  text-align: center;
}
condensedboldright {
  font-family: RobotoCondensed;
  font-size: 14px;
  color: #c7c7c5;
  font-weight: bold;
  text-align: right;
}

dark {
  font-family: Roboto;
  font-size: 14;
  color: #696968;
  text-align: justify;
  font-weight: normal;
}
darkleft {
  font-family: Roboto;
  font-size: 14;
  color: #696968;
  font-weight: normal;
  text-align: left;
}
darkright {
  font-family: Roboto;
  font-size: 14;
  color: #696968;
  font-weight: normal;
  text-align: right;
}
darkcenter {
  font-family: Roboto;
  font-size: 14;
  color: #696968;
  font-weight: normal;
  text-align: center;
}

whiteleft {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
}

whiteright {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  font-weight: normal;
  text-align: right;
}

whitecenter {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

whitemediumcenter {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

darkboldcenter {
  font-family: Roboto;
  font-size: 14;
  color: #3c381b;
  font-weight: bold;
  text-align: center;
}

blue {
  font-family: Roboto;
  font-size: 14;
  color: #22f7fd;
  text-align: justify;
}

blueright_blue {
  text-align: right;
}

green {
  font-family: Roboto;
  font-size: 14;
  color: #ffcb2f;
  text-align: justify;
}
greenleft {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  text-align: left;
}

greenleftlight {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  font-weight: lighter;
  text-align: left;
}

greenright {
  font-family: Roboto;
  font-size: 14;
  color: #ffcb2f;
  text-align: right;
}

greencenter {
  font-family: Roboto;
  font-size: 14;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

greenunderlinecenter {
  font-family: Roboto;
  font-size: 14;
  color: #ffcb2f;
  text-align: center;
  text-decoration: underline;
}

truegreen {
  font-family: Roboto;
  font-size: 14;
  color: #7fc717;
  text-align: justify;
}

yellow {
  font-family: Roboto;
  font-size: 14;
  color: #faf21a;
  text-align: justify;
}

orange {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  text-align: justify;
}

orangebold {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  font-weight: bold;
  text-align: left;
}

orangeitalic {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  font-weight: italic;
  text-align: left;
}

itemset_left {
  color: #feb336;
}

orangeleft {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  text-align: left;
}

orangeleftlight {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  font-weight: normal;
  text-align: left;
}

orangeright {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  text-align: right;
}
orangecenter {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  text-align: center;
}

orangecenterbold {
  font-family: Roboto;
  font-size: 14;
  color: #ebc304;
  font-weight: bold;
  text-align: center;
}
lightred {
  font-family: Roboto;
  font-size: 14;
  color: #ff5c55;
  text-align: justify;
}

red {
  font-family: Roboto;
  font-size: 14;
  color: #eb0000;
  text-align: justify;
}

lightredleft {
  font-family: Roboto;
  font-size: 14;
  color: #ff5c55;
  text-align: left;
}
redleft {
  font-family: Roboto;
  font-size: 14;
  color: #eb0000;
  text-align: left;
}
lightredright {
  font-family: Roboto;
  font-size: 14;
  color: #ff5c55;
  text-align: right;
}
redright {
  font-family: Roboto;
  font-size: 14;
  color: #eb0000;
  text-align: right;
}
lightredcenter {
  font-family: Roboto;
  font-size: 14;
  color: #ff5c55;
  text-align: center;
}
redcenter {
  font-family: Roboto;
  font-size: 14px;
  color: #eb0000;
  text-align: center;
}

mediumparchment {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}
mediumparchmentright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}
mediumparchmentcenter {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
mediumboldparchment {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
mediumboldparchmentright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}

whitebold {
  font-family: Roboto;
  font-size: 14px;
  color: #e0e0de;
  font-weight: bold;
}
whiteboldleft {
  font-family: Roboto;
  font-size: 14px;
  color: #e0e0de;
  font-weight: bold;
  text-align: left;
}
whiteboldright {
  font-family: Roboto;
  font-size: 14px;
  color: #e0e0de;
  font-weight: bold;
  text-align: right;
}
whiteboldcenter {
  font-family: Roboto;
  font-size: 14px;
  color: #e0e0de;
  font-weight: bold;
  text-align: center;
}

darkbold {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
darkboldleft {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}
darkboldright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: right;
}
darkboldcenter {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

shadowedcenter {
  font-family: Roboto;
  font-size: 14;
  color: #c7c7c5;
  font-weight: normal;
  text-align: center;
  shadow-distance: 0;
  shadow-blurx: 3;
  shadow-blury: 3;
}

grey_p {
  color: #9b9b9b;
}

italicgrey_grey {
  font-style: italic;
}

greybold_grey {
  font-weight: bold;
}

lightgrey_p {
  color: #6d6d6d;
}
lightgreycenter_lightgrey {
  text-align: center;
}

italiclightgrey_lightgrey {
  font-style: italic;
}

questfinished_p {
  color: #e0e0de;
}

newfeaturecenter {
  font-family: Roboto;
  font-size: 15px;
  color: #969695;
  font-weight: normal;
  text-align: center;
}

greencenterfeature_newfeaturecenter {
  color: #ffcb2f;
}

rightfeature_newfeaturecenter {
  color: #c8c8c8;
  text-align: right;
}

smalldarkboldcenter_darkboldcenter {
  font-family: Roboto;
  font-size: 12;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
bonus {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  color: #52ae3f;
}

malus {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  color: #cb685e;
}

vulnerableleft {
  font-family: Roboto;
  font-size: 14px;
  color: #cb685e;
  text-align: left;
}
vulnerableright {
  font-family: Roboto;
  font-size: 14px;
  color: #cb685e;
  text-align: right;
}
weakenedleft {
  font-family: Roboto;
  font-size: 14px;
  color: #ffac4b;
  text-align: left;
}
weakenedright {
  font-family: Roboto;
  font-size: 14px;
  color: #ffac4b;
  text-align: right;
}
protectedright {
  font-family: Roboto;
  font-size: 14px;
  color: #9966cc;
  text-align: right;
}
protectedleft {
  font-family: Roboto;
  font-size: 14px;
  color: #9966cc;
  text-align: left;
}
normalleft {
  font-family: Roboto;
  font-size: 14px;
  color: #21b6ff;
  text-align: left;
}
normalright {
  font-family: Roboto;
  font-size: 14px;
  color: #21b6ff;
  text-align: right;
}
inhibitedleft {
  font-family: Roboto;
  font-size: 14px;
  color: #65e456;
  text-align: left;
}
inhibitedright {
  font-family: Roboto;
  font-size: 14px;
  color: #65e456;
  text-align: right;
}
