p {
    font-family: Verdana;
    font-size: 17px;
    color: #808080;
    text-align: center;
}

center {
    font-family: Verdana;
    font-size: 17px;
    color: #808080;
    text-align: center;
}

bonta {
    font-family: Verdana;
    font-size: 17px;
    color: #808080;
    text-align: center;
}

brakmar {
    font-family: Verdana;
    font-size: 17px;
    color: #808080;
    text-align: center;
}