p {
    font-family: Verdana;
    font-size: 16;
    text-align: left;
    padding-left: 12;
    text-indent: -10;
    leading: -2;
    color: #e8400d;
}

/* Global */
p0_p {
	color: #000000;
}

/* Team */
p1_p {
    color: #006699;
}

/* Guild */
p2_p {
    color: #6c39ca;
}

/* Alliance */
p3_p {
    color: #BB6200;
}

/* Party */
p4_p {
    color: #0082bf;
}

/* Sales */
p5_p {
    color: #663300;
}

/* Seek */
p6_p {
    color: #737373;
}

/* Noob */
p7_p {
    color: #D3AA07;
}

/* Admin */
p8_p {
    color: #FF00FF;
}

/* Private */
p9_p {
    color: #0066ff;
}

/* Info */
p10_p {
    color: #46A324;
}

/* FightLog */
p11_p {
    color: #9DFF00;
}

/* Public */
p12_p {
    color: #EF3A3E;
}

/* Arena */
p13_p {
    color: #F16392;
}

/* Community */
p14_p {
    color: #477946;
}

sender_p {
    color: #1B96FF;
}



bubble {
	font-family: Verdana;
	font-size: 18px;
	color: #000000;
	padding-left: -15;
	text-align: left;
}