/* Feuille de style destin?e ? :
? login : TextArea des news.
? banner : typo utilis?e dans la TextArea du chat
*/

/* Alert TODO */
p {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #c10000;
}

/* Global */
p0 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    leading: -2;
    color: #000000;
}

/* Team */
p1 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #006699;
}

/* Guild */
p2 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #6c39ca;
}

/* Alliance */
p3 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #BB6200;
}

/* Party */
p4 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #0082bf;
}

/* Sales TODO */
p5 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #663300;
}

/* Seek TODO */
p6 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #737373;
}

/* Noob TODO */
p7 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #0000cc;
}

/* Admin TODO */
p8 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #ff00ff;
}

/* Private */
p9 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #0066ff;
}

/* Info TODO */
p10 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #009900;
}

/* FightLog TODO */
p11 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #009900;
}

/* Pub */
p12 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #24a394;
}

/* Arena */
p13 {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #f16392;
}

/* Community */
p14 {
	font-family: Verdana;
	font-size: 12px;
	text-align: left;
	padding-left: 15;
	text-indent: -10;
	leading:-2;
	color: #477946;
}

sender {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    padding-left: 15;
    text-indent: -10;
    leading:-2;
    color: #eb684e;
}

/* TODO */
bubble {
    font-family: Verdana;
    font-size: 18px;
    color: #000000;
    padding-left: -15;
    text-align: left;
}



/* Alert */
indentred {
    font-family: Verdana;
    font-size: 12px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #c10000;
}

/* Global */
indent {
    font-family: Verdana;
    font-size: 12px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #000000;
}

/* Info */
indentgreen {
    font-family: Verdana;
    font-size: 12px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #009900;
}