/* Feuille de style destinée à simplifier la création d'une scrollbar 
en centralisant les adresses des textures */

.skin {
	texture-back-type: TextureBitmap;
	texture-back: [config.ui.skin]common/scrollbar_bg.png;
	
	texture-box-type: TextureBitmap;
	texture-box-ThemeDataId: button_tiny_normal;
	texture-max:  ;
	texture-min:  ;
}
