p {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: justify;
	font-weight: normal;
}
left {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: left;
}
right {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: right;
}
center {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: center;
}

bold {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: justify;
	font-weight: bold;
}

italic {
    font-family: Verdana;
    font-size: 14;
    color: #000000;
    text-align: justify;
    font-style: italic;
}

boldleft {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: bold;
	text-align: left;
}
boldright {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: bold;
	text-align: right;
}
boldcenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: bold;
	text-align: center;
}


disabled {
	font-family: Verdana;
	font-size: 14px;
	color: #848480;
	text-align: justify;
	font-weight: normal;
}
disabledcenter {
	font-family: Verdana;
	font-size: 14px;
	color: #848480;
	text-align: center;
	font-weight: normal;
}
disabledright {
	font-family: Verdana;
	font-size: 14px;
	color: #848480;
	text-align: right;
	font-weight: normal;
}
bolddisabled {
	font-family: Verdana;
	font-size: 14px;
	color: #848480;
	text-align: justify;
	font-weight: bold;
}

medium {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: justify;
}
mediumleft {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: left;
}
mediumright {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: right;
}
mediumcenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: center;
}

mediumcenterbold {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

mediumleftbold {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: left;
	font-weight: bold;
}

mediumrightbold {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: right;
	font-weight: bold;
}

condensedboldleft {
	font-family: VerdanaCondensed;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}

condensedboldcenter {
	font-family: VerdanaCondensed;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
condensedboldright {
	font-family: VerdanaCondensed;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: right;
}


dark {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: justify;
	font-weight: normal;
}
darkleft {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: left;
}
darkright {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: right;
}
darkcenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: center;
}

whiteleft {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: left;
}

whiteright {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: right;
}

whitecenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: center;
}

whitemediumcenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

darkboldcenter {
    font-family: Verdana;
    font-size: 14;
    color: #3c381b;
    font-weight: bold;
    text-align: center;
}

green {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: justify;
}
greenleft {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: left;
}
greenleftlight {
	 font-family: Verdana;
	 font-size: 14;
	 color: #000000;
	 font-weight: lighter;
	 text-align: left;
}
greenright {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: right;
}
greencenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: center;
	text-decoration: none;
}
greenunderlinecenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	text-align: center;
	text-decoration: underline;
}

truegreen {
	font-family: Verdana;
	font-size: 14;
	color: #7fc717;
	text-align: justify;
}

yellow {
	font-family: Verdana;
	font-size: 14;
	color: #faf21a;
	text-align: justify;
}

orange {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	text-align: justify;
}

orangebold {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	font-weight: bold;
	text-align: left;
}

orangeitalic {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	font-weight: italic;
	text-align: left;
}
itemset_left {
	color: #cc9933;
}

orangeleft {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	text-align: left;
}

orangeleftlight {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	font-weight: normal;
	text-align: left;
}
orangeright {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	text-align: right;
}
orangecenter {
	font-family: Verdana;
	font-size: 14;
	color: #0000b7;
	text-align: center;
}

red {
	font-family: Verdana;
	font-size: 14;
	color: #eb0000;
	text-align: justify;
}
redleft {
	font-family: Verdana;
	font-size: 14;
	color: #eb0000;
	text-align: left;
}
redright {
	font-family: Verdana;
	font-size: 14;
	color: #eb0000;
	text-align: right;
}
redcenter {
	font-family: Verdana;
	font-size: 14px;
	color: #eb0000;
	text-align: center;
}

mediumparchment {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
}
mediumparchmentright {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	text-align: right;
}
mediumparchmentcenter {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	text-align: center;
}
mediumboldparchment {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
mediumboldparchmentright {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	text-align: right;
	font-weight: bold;
}


whitebold {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
whiteboldleft {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}
whiteboldright {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: right;
}
whiteboldcenter {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

darkbold {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
darkboldleft {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: left;
}
darkboldright {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: right;
}
darkboldcenter {
	font-family: Verdana;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

shadowedcenter {
	font-family: Verdana;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: center;
	shadow-distance: 0;
	shadow-blurX: 0;
	shadow-blurY: 0;
}

grey_p {
	color: #696969;
}

italicgrey_grey {
    font-style: italic;
}

greybold_grey {
	font-weight: bold;
}

lightgrey_p {
	color: #000000;
}
lightgreycenter_lightgrey {
	text-align: center;
}

italiclightgrey_lightgrey {
	font-style: italic;
}

questfinished_p {
	color: #000000;
}

newfeaturecenter {
	font-family: Verdana;
	font-size: 15px;
	color: #969695;
	font-weight: normal;
	text-align: center;
}

greencenterfeature_newfeaturecenter {
	color: #000000;
}

rightfeature_newfeaturecenter {
	color: #606060;
	text-align: right;
}