normal {
    font-family: Verdana;
    font-size: 16px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #514a3c;
}

success {
    font-family: Verdana;
    font-size: 16px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #1d6320;
}

fail {
    font-family: Verdana;
    font-size: 16px;
	text-align: left;
	padding-left: 25;
	text-indent: -20;
	leading:-2;
	color: #b02424;
}