p {
	font-family: Verdana;
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}
bold_p { font-weight: bold; }
right_p { text-align: right; }
center_p { text-align: center; }
justify_p { text-align: justify; }
center2_center { color: #ffffff; }
dark_p { color: #000000; }
darkcenterbig_dark { text-align: center; }


light {
	font-family: Verdana;
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}
lightright_light { text-align: right; }

/* Classes servant ï¿½ l'affichage des objets speciaux */

itemset_light { color: #cc9933; }
itemetheral_light { color: #8ab7ee; }