p {
	font-family: Verdana;
	font-size: 15;
	color: #000000;
}

.separator {
	leading: -12;
}

.customli {
	color: #000000;
	margin-left: 22;
}

.customlirightmargin {
	color: #000000;
	margin-left: 22;
	margin-right: 104;
}

.value {
	font-family: Verdana;
	font-size: 15;
	font-weight: bold;
	color: #514a3c;
}

.subtitle {
	font-family: Verdana;
	font-size: 16;
	font-weight: bold;
	color: #514a3c;
	margin-left: 16;
}

.subtitlenomargin {
	font-family: Verdana;
	font-size: 16;
	font-weight: bold;
	color: #514a3c;
}

.bonus {
	font-family: Verdana;
	font-size: 15;
	color: #1d6320;
}

.bonusvalue {
	font-family: Verdana;
	font-size: 15;
	font-weight: bold;
	color: #1d6320;
}

.malus {
	font-family: Verdana;
	font-size: 15;
	color: #b02424;
}

.malusvalue {
	font-family: Verdana;
	font-size: 15;
	font-weight: bold;
	color: #b02424;
}

.subeffectleftcolumn {
	margin-left: 32;
	leading: -15;
}

.subeffectrightcolumn {
	margin-left: 228;
}

.exotic {
	font-family: Verdana;
	font-size: 15;
	color: #1b599e;
}

.exoticvalue {
	font-family: Verdana;
	font-size: 15;
	font-weight: bold;
	color: #1b599e;
}

.theoretical {
	font-family: Verdana;
	font-size: 15;
	color: #000000 ;
}

.requirement {
	font-family: Verdana;
	font-size: 15;
	color: #a8792b;
}

.special {
	font-family: Verdana;
	font-size: 15;
	color: #ff4000;
}

.set {
	font-family: Verdana;
	font-size: 15;
	color: #0000b7;
}

.description {
	font-family: Verdana;
	font-size: 15;
	color: #000000;
}

.quote {
	font-family: Verdana;
	font-size: 15;
	font-style: italic;
	color: #737373;
}

.headerp {
	font-family: Verdana;
	font-size: 15;
	color: #000000;
	margin-right: 126;
}

.headermalus {
	font-family: Verdana;
	font-size: 15;
	color: #d0483a;
	margin-right: 126;
}

.headertitle {
	font-family: Verdana;
	font-size: 18;
	font-weight: bold;
	color: #514a3c;
	margin-right: 126;
}

.footer {
	font-family: Verdana;
	font-size: 15;
	font-style: italic;
	color: #000000;
	text-align: center;
}

.footerleft {
	font-family: Verdana;
	font-size: 15;
	font-style: italic;
	color: #000000;
	text-align: left;
	leading: -15;
}

.footerright {
	font-family: Verdana;
	font-size: 15;
	font-style: italic;
	color: #000000;
	text-align: right;
}

spellZone {
	font-family: Verdana;
	font-size: 15;
	color: #000000;
	margin-left: 32;
}

.contentmargin {
	margin-right: 126;
}

.probaright {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
}

.common {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
	color: #848480;
}

.uncommon {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
	color: #6db213;
}

.rare {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
	color: #1B96FF;
}

.epic {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
	color: #9400d3;
}

.legendary {
	font-family: Verdana;
	font-size: 15;
	text-align: right;
	leading: -19;
	color: #ffb400;
}

.descriptionproba {
	font-family: Verdana;
	font-size: 15;
	color: #E6893D;
	margin-left: 22;
	margin-right: 75;
	text-align: left;
}