p {
	font-family: Verdana;
	font-size: 17px;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

#cssClass {
	font-family: Verdana;
	font-size: 17px;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

red {
	font-family: Verdana;
	font-size: 17px;
	color: #8c0101;
	text-align: center;
	font-weight: bold;
}

green {
	font-family: Verdana;
	font-size: 17px;
	color: #077d01;
	text-align: center;
	font-weight: bold;
}

blue {
	font-family: Verdana;
	font-size: 17px;
	color: #226196;
	text-align: center;
	font-weight: bold;
}

orange {
	font-family: Verdana;
	font-size: 17px;
	color: #d76b00;
	text-align: center;
	font-weight: bold;
}