p {
	font-family: Verdana;
	font-size: 17px;
	color: #db4302;
	text-align: center;
}

center {
	font-family: Verdana;
	font-size: 17px;
	color: #db4302;
	text-align: center;
}

bonta {
	font-family: Verdana;
	font-size: 17px;
	color: #008c8c;
	text-align: center;
}

brakmar {
	font-family: Verdana;
	font-size: 17px;
	color: #a9121c;
	text-align: center;
}

malus {
    font-family: Verdana;
    font-size: 17px;
    color:#f87600;
    text-align: center;
}