p {
	font-family: Tahoma;
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}
right {
	font-family: Tahoma;
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	text-align: right;
}
center {
	font-family: Tahoma;
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
shadowedcenter_center{
	shadow-distance: 2;
	shadow-blurX: 2;
	shadow-angle:90;
}
shadowedgreencenter {
	font-family: Roboto;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	shadow-distance: 2;
	shadow-blurX: 2;
	shadow-angle: 90;
}
small {
	font-family: Tahoma;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}
smallright {
	font-family: Tahoma;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-align: right;
}
smallcenter {
	font-family: Tahoma;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
dark {
	font-family: Tahoma;
	font-size: 21px;
	color: #2f2f25;
	font-weight: bold;
	text-align: left;
}
darkcenter {
	font-family: Tahoma;
	font-size: 21px;
	color: #2f2f25;
	font-weight: bold;
	text-align: center;
}

darkcenterbig {
	font-family: Tahoma;
	font-size: 25px;
	color: #4E280A;
	text-align: center;
}
opposite {
	font-family: Tahoma;
	font-size: 25px;
	color: #312D24;
}
oppositecenter {
	font-family: Tahoma;
	font-size: 25px;
	color: #4E280A;
	text-align:center;
}


white {
	font-family: Tahoma;
	font-size: 20px;
	color: #c7c7c5;
	font-weight: normal;
	text-align: left;
}
whitemedium {
	font-family: Tahoma;
	font-size: 20px;
	color: #c7c7c5;
	font-weight: medium;
	text-align: left;
}
whitecenter {
	font-family: Tahoma;
	font-size: 20px;
	color: #c7c7c5;
	font-weight: normal;
	text-align: center;
}

whitemediumcenter {
	font-family: Tahoma;
	font-size: 20px;
	color: #c7c7c5;
	font-weight: medium;
	text-align: center;
}
purewhitemedium {
	font-family: Tahoma;
	font-size: 20px;
	color: #ffffff;
	font-weight: medium;
	text-align: left;
}

green {
	font-family: Tahoma;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
}
greenbold {
	font-family: Tahoma;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}
greencenter {
	font-family: Tahoma;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
}

gray {
	font-family: Tahoma;
	font-size: 22px;
	color: #696968;
	font-weight: bold;
	text-align: left;
}

whitebold {
	font-family: Tahoma;
	font-size: 20px;
	color: #e0e0de;
	font-weight: bold;
	text-align: left;
}
whiteboldcenter {
	font-family: Tahoma;
	font-size: 20px;
	color: #e0e0de;
	font-weight: bold;
	text-align: center;
}
whiteboldright {
	font-family: Tahoma;
	font-size: 20px;
	color: #e0e0de;
	font-weight: bold;
	text-align: right;
}

whitemediumboldcenter {
	font-family: Tahoma;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

whitebigbold {
	font-family: Tahoma;
	font-size: 27px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}
whitebigboldcenter {
	font-family: Tahoma;
	font-size: 27px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
whitehugebold {
	font-family: Tahoma;
	font-size: 44px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}
whitehugeboldcenter {
	font-family: Tahoma;
	font-size: 35px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	shadow-distance: 1;
	shadow-blurX: 7;
	shadow-blurY: 7;
	shadow-angle: 45;
	shadow-alpha: 0.6;
}

itemset {
	font-family: Tahoma;
	font-size: 20px;
	color: #feb336;
	font-weight: bold;
	text-align: left;
}

itemetheral {
	font-family: Tahoma;
	font-size: 20px;
	color: #8ab7ee;
	font-weight: bold;
	text-align: left;
}
victory {
    font-family: Tahoma;
    font-size: 24px;
    color: #673d15;
    font-weight: bold;
    text-align: center;
    shadow-color: #faf328;
    shadow-blurX: 2;
    shadow-blurY: 2;
    shadow-distance: 2;
    shadow-angle: 90;
}
defeat {
    font-family: Tahoma;
    font-size: 24px;
    color: #47360c;
    font-weight: bold;
    text-align: center;
    shadow-color: #d39086;
    shadow-blurX: 2;
    shadow-blurY: 2;
    shadow-distance: 2;
    shadow-angle: 90;
}
levelup {
	font-family: Tahoma;
	font-size: 40px;
	color: #673d15;
	font-weight: bold;
	text-align: center;
	shadow-color: #faf328;
	shadow-blurX: 2;
	shadow-blurY: 4;
	shadow-distance: 2;
	shadow-angle: 90;
}
levelupomega_levelup {
	font-size: 60px;
}
scroll {
	font-family: Tahoma;
	font-size: 25px;
	color: #d09b4b;
	text-align: center;
	shadow-color : #000;
	shadow-distance : 9;
}

newfeaturetitle
{
	font-family: Tahoma;
	font-size: 34px;
	color: #fea601;
	font-weight: bold;
	text-align: right;
	shadow: 2px 2px 2px #fea601, 0px 0px 25px #fea601;
}